
@model IEnumerable<Exercise3.Models.Rate>
@{
    ViewBag.Title = "Index";
}
<h3 class="title">Rate List</h3>
<div>
    @Html.ActionLink("Add Rate", "Add", "Rate", null, new { @class = "btn btn-warning mx-3" })
</div>
@if (!Model.Any())
{
    <p>No Data Available</p>
}
else
{
    <table class="table table-bordered table-hover m-3">
        <thead>
            <tr>
                @*<th>#</th>*@
                <th>Products</th>
                <th>Rates</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rate in Model)
            {
                <tr>
                    @*<td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>*@
                    @*<td>@rate.Rate.Id</td>*@
                    <td>@rate.Product.Name</td>
                    <td>₹ @rate.Amount</td>
                    <td>@rate.Date.Value.ToShortDateString()</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Rate", new { id = rate.Id }, new { @class = "btn btn-info mx-1 btn-sm" })

                        @Html.ActionLink("Delete", "Delete", "Rate", new { id = rate.Id }, new { @class = "btn btn-danger mx-1 btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
