@model IEnumerable<Exercise3.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h3 class="title">Product List</h3>
<div>
    @Html.ActionLink("Add Product", "Add", "Product", null, new { @class = "btn btn-warning mx-3" })
</div>
@if (!Model.Any())
{
    <p>No Data Available</p>
}
else
{
    <table class="table table-bordered table-hover m-3">
        <thead>
            <tr>
                @*<th>#</th>*@
                <th>Products</th>
                <th>Manufacturer</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    @*<td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>*@
                    @*<td>@product.Id</td>*@
                    <td>@product.Name</td>
                    <td>@product.Manufacturer.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Product", new { id = product.Id }, new { @class = "btn btn-info mx-1 btn-sm" })

                        @Html.ActionLink("Delete", "Delete", "Product", new { id = product.Id }, new { @class = "btn btn-danger mx-1 btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}